eval "$(devenv direnvrc)"
use devenv
PATH_add bin

if [ -f .local/secrets.envrc ]; then
  source .local/secrets.envrc
fi

export MEMBA_CLUB_INBOUND_EMAIL_DOMAIN=clubs-dev.memba.io
export MEMBA_AUTH_EMAIL_FROM_ADDRESS=auth@mail-dev.memba.io
export MEMBA_AUTH_EMAIL_MESSAGE_STREAM=outbound-authentication
export MEMBA_MESSAGING_REPLY_TO_ADDRESS=support@memba.io
export MEMBA_MESSAGING_FROM_ADDRESS=messages@mail-dev.memba.io
